{% extends "bootstrap/base.html" %}

{% if title %}
  <title>{{ title }}</title>
{% else %}
  <title>Просто страница</title>
{% endif %}

{% block content %}
  <div><a href="/index">INDEX</a></div>
  <div><a href="/login">LOGIN</a></div>

  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category,message in messages %}
          <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  {% block app_content %}{% endblock %}
{% endblock %}
